{% extends "layout.html" %}
{% block title %}About{% endblock %} 
{% block navblock %}
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('index') }}">
    HOME
  </a>
</li>
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('intro') }}">
    INTRO
  </a>
</li>
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('data') }}">
    DATA
  </a>
</li>
<li class="nav-item active">
  <a class="nav-link current" href="{{ url_for('about') }}">
    ABOUT
  </a>
</li>
{% endblock %} {% block header %}
<div id="dataHeader" class="box header" style="height: 100%;">
  <div class="aboutDiv" data-aos="fade-down" style="margin-top: 15vh;">
    <h2 class="titles">CHRIS E.</h2>
    <img
      src="../static/img/Headshot.png"
      alt="Chris E"
      style="height: 190px; width: 190px; border-radius: 95px;"
    />
    <p class="aboutP">
      I am a data driven professional with over 7 years of experience in Office
      Management, Operations, and Data Science. As the Chief Technology Officer
      for Prospanica San Francisco, I dedicate my time to empowering Hispanic
      Communities, and help our members achieve their full educational,
      economic, and social potential. Someday I will change the world, and when
      I do, I'll automate it.
    </p>
    <a href="https://www.linkedin.com/in/christopher-e-4984021a/">Linked-in</a>
    <a href="https://github.com/chrisestrada007">Github</a>
  </div>
  <div class="aboutDiv" data-aos="fade-down">
    <h2 class="titles">SPAAR</h2>
    <img
      src="../static/img/image.png"
      alt="Spaar"
      style="height: 190px; width: 190px; border-radius: 95px"
    />
    <p class="aboutP">
      I got into DS to aid my licensing/distribution job. I didn't like shooting
      in the dark and hoping for the best, I instead preferred to develop
      data-driven decision making that could produce tangible results.
    </p>
    <a href="https://www.linkedin.com/in/christopher-e-4984021a/">Linked-in</a>
    <a href="https://github.com/chrisestrada007">Github</a>
  </div>
  <div class="aboutDiv" data-aos="fade-down">
    <h2 class="titles">JOSEPH V.</h2>
    <img
      src="../static/img/joe.jpg"
      alt=""
      style="height: 190px; width: 190px; border-radius: 95px"
    />
    <p class="aboutP">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam esse
      praesentium dignissimos tempora. At placeat, natus, voluptate beatae
      impedit soluta et quis voluptates quidem cumque nihil laboriosam similique
      iure! Ex?
    </p>
    <a href="https://www.linkedin.com/in/christopher-e-4984021a/">Linked-in</a>
    <a href="https://github.com/hone1er">Github</a>
  </div>
  <div class="aboutDiv" data-aos="fade-down">
    <h2 class="titles">Kayti</h2>
    <img
      src="../static/img/kayti.png"
      alt=""
      style="height: 190px; width: 190px; border-radius: 95px"
    />
    <p class="aboutP">
      I started practicing data analytics before I knew it was a profession. The
      small bushiness I worked generated their numbers via analogue. I've since
      then automated the process and have accompanied the numbers with
      visualizations. I loved the process so much I decided to pursue it as a
      career!
    </p>
    <a href="https://www.linkedin.com/in/christopher-e-4984021a/">Linked-in</a>
    <a href="https://github.com/hone1er">Github</a>
  </div>
</div>
{% endblock %}
