{% extends "layout.html" %} {% block navblock %}
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('index') }}">
    HOME
  </a>
</li>
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('intro') }}">
    INTRO
  </a>
</li>
<li class="nav-item active">
  <a class="nav-link current" href="{{ url_for('data') }}">
    DATA
  </a>
</li>
<li class="nav-item">
  <a class="nav-link current" href="{{ url_for('about') }}">
    ABOUT
  </a>
</li>
{% endblock %} {% block header %}
<div id="dataHeader" class="box header" style="height: 100%;">
  <div data-aos="fade-down">
    <h2 class="titles">INTRODUCTION:</h2>
    <p>
      The Oscars (also confusingly referred to as the Academy Awards) is a big
      awards ceremony in the eyes of Hollywood. Winning an Oscar is a sign of
      high status and recognition. How does one achieve such an award and is the
      academy fully transparent about the path to this esteemed recognition? We
      are here to find out. In this analysis we will be diving into the various
      factors that go into being nominated. We will first look at what the
      Academy states is the way to become nominated and then, as data geeks, we
      will hunt for the data to back-up or debunk the claims.
    </p>
  </div>
</div>
{% endblock %} {% block content %}
<div class="content"></div>
{% endblock %} {% block data %} {% endblock%} {% block charts %}
<div class="box charts" style="display: block">
  <h1 id="actress">Best actress in a supporting role</h1>
  <div id="actressBar"></div>
  <p id="actressP">
    According to the chart above the Oscar's seems to favor a few genres when
    nominating best actress in a supporting role, such as drama and comedy. Possibly more noteable, is how poorly 
  </p>
  <div id="actorBar"></div>
  <div id="myDiv2"></div>

  <center>
    <div
      class="tableauPlaceholder"
      id="viz1564450934416"
      style="position: relative; margin-top: 15px; margin-bottom: -10px"
    >
      <noscript
        ><a href="#"
          ><img
            alt=" "
            src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HT&#47;HT2DSMMH8&#47;1_rss.png"
            style="border: none"/></a></noscript
      ><object class="tableauViz" style="display:none;"
        ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
        <param name="embed_code_version" value="3"/>
        <param name="path" value="shared&#47;HT2DSMMH8"/>
        <param name="toolbar" value="yes"/><param
          name="static_image"
          value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;HT&#47;HT2DSMMH8&#47;1.png"/>
        <param name="animate_transition" value="yes"/><param
          name="display_static_image"
          value="yes"/><param name="display_spinner" value="yes"/><param
          name="display_overlay"
          value="yes"/><param name="display_count" value="yes"
      /></object>
    </div>
    <script type="text/javascript">
      var divElement = document.getElementById("viz1564450934416");
      var vizElement = divElement.getElementsByTagName("object")[0];
      vizElement.style.minWidth = "420px";
      vizElement.style.maxWidth = "650px";
      vizElement.style.width = "100%";
      vizElement.style.minHeight = "587px";
      vizElement.style.maxHeight = "887px";
      vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
      var scriptElement = document.createElement("script");
      scriptElement.src =
        "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    <div
      class="tableauPlaceholder"
      id="viz1564451113521"
      style="position: relative;"
    >
      <noscript
        ><a href="#"
          ><img
            alt=" "
            src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;W6&#47;W6NNJYMXW&#47;1_rss.png"
            style="border: none"/></a></noscript
      ><object class="tableauViz" style="display:none;"
        ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
        <param name="embed_code_version" value="3"/>
        <param name="path" value="shared&#47;W6NNJYMXW"/>
        <param name="toolbar" value="yes"/><param
          name="static_image"
          value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;W6&#47;W6NNJYMXW&#47;1.png"/>
        <param name="animate_transition" value="yes"/><param
          name="display_static_image"
          value="yes"/><param name="display_spinner" value="yes"/><param
          name="display_overlay"
          value="yes"/><param name="display_count" value="yes"
      /></object>
    </div>
    <script type="text/javascript">
      var divElement = document.getElementById("viz1564451113521");
      var vizElement = divElement.getElementsByTagName("object")[0];
      vizElement.style.minWidth = "420px";
      vizElement.style.maxWidth = "650px";
      vizElement.style.width = "100%";
      vizElement.style.minHeight = "587px";
      vizElement.style.maxHeight = "887px";
      vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
      var scriptElement = document.createElement("script");
      scriptElement.src =
        "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </center>
</div>
{% endblock %} {% block footer %}
<div class="box footer">
  Oscar Analysis &copy;2019
</div>
{% endblock %} {% block scripts %}<script src="{{ url_for('static', filename='js/dataPlotly.js') }}"></script>
{% endblock %}
