{% extends "layout.html" %} 

{% block navblock %}
<li class="nav-item active">
  <a class="nav-link current" href="{{ url_for('index') }}">
      HOME
  </a>
</li>
<li class="nav-item">
    <a class="nav-link current" href="{{ url_for('about') }}">
        ABOUT
    </a>
  </li>
{% endblock %}

{% block header %}<div data-aos="fade-up"><h1 id="mainTitle"><span id="academy">ACADEMY AWARDS</span> 
  <br><br>
  <span id="analysis">Data Analysis</span></h1></div>
{% endblock %}

{% block content %}
<div data-aos="fade-down">
<h2 class="titles">INTRODUCTION:</h2>
<p>
  The Oscars (also confusingly referred to as the Academy Awards) is a big
  awards ceremony in the eyes of Hollywood. Winning an Oscar is a sign of high
  status and recognition. How does one achieve such an award and is the academy
  fully transparent about the path to this esteemed recognition? We are here to
  find out. In this analysis we will be diving into the various factors that go
  into being nominated. We will first look at what the Academy states is the way
  to become nominated and then, as data geeks, we will hunt for the data to
  back-up or debunk the claims.
</p>
</div>
<div data-aos="fade-up" data-aos-offset="200">
<h2 class="titles">DATASETS:</h2>
<p>
  <a href="https://www.kaggle.com/sebask/the-oscars-dataset-preparing-for-2017/data">Dataset 1</a>
  <a href="https://www.kaggle.com/tmdb/tmdb-movie-metadata/data">Dataset 2</a>
  <br>
   We will be using the
  above data sets (along with web scraping to gather years 2016-2019) to predict
  the best picture nomination.
</p>
</div>
<div data-aos="fade-up">
<h2 class="titles">TOOLS:</h2>
<p>
  Python's Beautiful Soup and Pandas library to web scrape/clean our data and
  Tableau to interactively visualise our data. Further ideas we have are taking a
  look at each movies instagram followers, Youtube trailer plays, and Netflix
  streams to see how they trend throughout the year and whether or not there’s a
  correlation between the top trenders and the nominees. (i.e. how has social
  media changed the nomination game?)
</p>
</div>
<div data-aos="fade-up">
<h2 class="titles">VALUE:</h2>
<p>
  We will be able to show which aspects are the most valuable in predicting who
  will get nominated for a Oscar. Being nominated for an Oscar can make a huge
  difference in the financial prospects of the directors, actors, and everyone
  involved. With the understanding that we unearth, those in the movie business
  will be able to be more strategic with their resources because they’ll
  understand what will get them the most bang for their marketing buck.
</p>
</div>
{% endblock %} 

{% block sidebar %}<div id="sidebar" data-aos="fade-up" data-aos-offset="200">
  <h2 class="titles">RULES:</h2>
  <h3>All eligible motion pictures must be:</h3>
  <ul>
    <li data-aos="fade-up" class="rules">Feature length (defined as over 40 minutes)</li>
    <li data-aos="fade-up" class="rules">Publicly exhibited by means of 35mm or 70mm film, or in a 24- or 48-frame progressive scan
        Digital Cinema format </li>
    <li data-aos="fade-up" class="rules">For paid admission in a commercial motion picture theater in Los Angeles County for a qualifying run of at least seven consecutive days</li>
    <li data-aos="fade-up" class="rules">released within the Awards year deadlines</li>
    <li data-aos="fade-up" class="rules">Films that, in any version, receive their first public exhibition or distribution in any manner other than
      as a theatrical motion picture release will not be eligible for Academy Awards in any category.</li>
  </ul>
  <p data-aos="fade-up">Click <a href="https://www.oscars.org/oscars/rules-eligibility">HERE</a> for the full list of rules films must follow to qualify for an Oscar!</p>
  </div>
  {% endblock %} 
  
  {% block data %}  
  <div class="container-fluid nameform input-group">
    <h1>Enter a movie name:</h1>
    <form id="frm1">
      <input type="text" id="movie" />
      <button id="filter-btn" type="submit" class="send_movie">Search</button>
    </form>
  </div>
  {% endblock %}
  {% block charts %} <div id="myDiv"></div>{% endblock %}
  {% block footer %}
  Oscar Analysis &copy;2019
  {% endblock %}
  