<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="title">{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="{{url_for("static", filename="styles/style.css")


    }}">
    <link type="text/css" rel="stylesheet" href="{{url_for("static", filename="styles/flexselect.css")


    }}">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="wrapper">
      <div id="navbox" class="box navbox">
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#myNavbar"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">OSCAR PROJECT</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="float: right;">
              {% block navblock %} {% endblock %}
            </ul>
          </div>
        </nav>
      </div>

      
        {% block header %}{% endblock %}
  
        {% block content %}{% endblock %}

        {% block sidebar %}{% endblock %}
        {% block data %}{% endblock %}
        {% block charts %}{% endblock %}
        {% block footer %}{% endblock %}
      </div>
      {% block about %}{% endblock %}
    </div>
    <!-- jQuery CDN -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.4.min.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.44.4/plotly.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
